flows.json
[
    {
        "id": "2450c4c2.c3b524",
        "type": "tab",
        "label": "Dipole",
        "disabled": false,
        "info": ""
    },
    {
        "id": "482fca47.901ea4",
        "type": "tab",
        "label": "Quadrupole",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eadb4491.8a3268",
        "type": "tab",
        "label": "Mode1 FF",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Mode 0 Damper",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 3,
                "gy": 3,
                "cx": 3,
                "cy": 3,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e1719692.a724c8",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "a0b953d3.6ba41",
        "type": "ui_group",
        "z": "",
        "name": "Dipole",
        "tab": "35fc9c4e.c46d34",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "35fc9c4e.c46d34",
        "type": "ui_tab",
        "z": "",
        "name": "Mode 0 Damper",
        "icon": "dashboard"
    },
    {
        "id": "7a4df6d1.1d139",
        "type": "ui_group",
        "z": "",
        "name": "Quadrupole",
        "tab": "35fc9c4e.c46d34",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5b5ce7e1.c9aae8",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "1",
        "bin": "bin",
        "out": "count",
        "addchar": false
    },
    {
        "id": "6bfc9866.a86188",
        "type": "ui_group",
        "z": "",
        "name": "Mode 1 FF",
        "tab": "6e431eeb.cc0c4",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6e431eeb.cc0c4",
        "type": "ui_tab",
        "z": "",
        "name": "Mode 1 FF",
        "icon": "dashboard"
    },
    {
        "id": "6e3cd31b.855d7c",
        "type": "mqtt-broker",
        "z": "",
        "name": "RFLab01",
        "broker": "RFLab01.local",
        "port": "1883",
        "clientid": "Mode0Damper",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ae1d3cd5.03d77",
        "type": "serial out",
        "z": "482fca47.901ea4",
        "name": "Teensy3.5",
        "serial": "e1719692.a724c8",
        "x": 1250,
        "y": 340,
        "wires": []
    },
    {
        "id": "796c196c.86cf5",
        "type": "ui_numeric",
        "z": "482fca47.901ea4",
        "name": "",
        "label": "Time Offset",
        "group": "7a4df6d1.1d139",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "timeOffset1",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "step": 1,
        "x": 750,
        "y": 180,
        "wires": [
            [
                "ee71c5e4.de05d"
            ]
        ]
    },
    {
        "id": "ee71c5e4.de05d",
        "type": "function",
        "z": "482fca47.901ea4",
        "name": "Parse setting",
        "func": "var mqttMsg =    \n{\n    topic:'archiver/R3/rfroom/02/mode0/quadrupole/' + msg.topic + '/reading',\n    payload:\n    {   \n        type:'scalar',\n        value:msg.payload\n    }\n};\nmsg.payload = msg.topic + ' ' + msg.payload.toString();\nreturn [msg, mqttMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 1010,
        "y": 280,
        "wires": [
            [
                "ae1d3cd5.03d77",
                "ba1e0b00.325e28"
            ],
            [
                "451ebeda.96d388"
            ]
        ]
    },
    {
        "id": "c91abdf1.808358",
        "type": "ui_numeric",
        "z": "482fca47.901ea4",
        "name": "",
        "label": "On",
        "group": "7a4df6d1.1d139",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "chanOn1",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "step": 1,
        "x": 730,
        "y": 80,
        "wires": [
            [
                "ee71c5e4.de05d"
            ]
        ]
    },
    {
        "id": "ee36e2c5.db5f6",
        "type": "ui_numeric",
        "z": "482fca47.901ea4",
        "name": "",
        "label": "Sign",
        "group": "7a4df6d1.1d139",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "sign1",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "step": "1",
        "x": 730,
        "y": 280,
        "wires": [
            [
                "ee71c5e4.de05d"
            ]
        ]
    },
    {
        "id": "106fc55e.c18ebb",
        "type": "ui_text_input",
        "z": "482fca47.901ea4",
        "name": "",
        "label": "Max Value",
        "group": "7a4df6d1.1d139",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "1000",
        "topic": "maxAcValue1",
        "x": 750,
        "y": 380,
        "wires": [
            [
                "ee71c5e4.de05d"
            ]
        ]
    },
    {
        "id": "59ce3fc1.0de1e8",
        "type": "ui_text_input",
        "z": "482fca47.901ea4",
        "name": "",
        "label": "Offset",
        "group": "7a4df6d1.1d139",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "mode": "text",
        "delay": "300",
        "topic": "dacOffset1",
        "x": 730,
        "y": 620,
        "wires": [
            [
                "1ff0fe18.bae582"
            ]
        ]
    },
    {
        "id": "182d39bf.6798c6",
        "type": "ui_button",
        "z": "482fca47.901ea4",
        "name": "Send dacOffset1",
        "group": "7a4df6d1.1d139",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Send",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 770,
        "y": 660,
        "wires": [
            [
                "2fed5dc6.e9e5fa"
            ]
        ]
    },
    {
        "id": "1ff0fe18.bae582",
        "type": "function",
        "z": "482fca47.901ea4",
        "name": "Store dacOffset1",
        "func": "flow.set('dacOffset1',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "704f4e7d.606d9",
        "type": "ui_numeric",
        "z": "482fca47.901ea4",
        "name": "",
        "label": "Gain",
        "group": "7a4df6d1.1d139",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "gain1",
        "format": "{{value}}",
        "min": "-10",
        "max": "10",
        "step": "1",
        "x": 730,
        "y": 480,
        "wires": [
            [
                "ee71c5e4.de05d"
            ]
        ]
    },
    {
        "id": "2fed5dc6.e9e5fa",
        "type": "function",
        "z": "482fca47.901ea4",
        "name": "Send dacOffset1",
        "func": "var mqttMsg =    \n{\n    topic:'archiver/R3/rfroom/02/mode0/quadrupole/dacOffset1/reading',\n    payload:\n    {   \n        type:'scalar',\n        value:flow.get('dacOffset1')\n    }\n};\nmsg.topic = 'dacOffset1';\nmsg.payload = 'dacOffset1' + ' ' + flow.get('dacOffset1');\nreturn [msg, mqttMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 970,
        "y": 660,
        "wires": [
            [
                "ae1d3cd5.03d77",
                "ba1e0b00.325e28"
            ],
            [
                "451ebeda.96d388"
            ]
        ]
    },
    {
        "id": "7eb82629.8e7bc8",
        "type": "link out",
        "z": "482fca47.901ea4",
        "name": "chanOn1",
        "links": [
            "ed11d919.9bb828"
        ],
        "x": 695,
        "y": 40,
        "wires": []
    },
    {
        "id": "6be14c21.bfe8ec",
        "type": "link out",
        "z": "482fca47.901ea4",
        "name": "timeOffset1",
        "links": [
            "ed11d919.9bb828"
        ],
        "x": 695,
        "y": 140,
        "wires": []
    },
    {
        "id": "388276e.7d6030a",
        "type": "link out",
        "z": "482fca47.901ea4",
        "name": "sign1",
        "links": [
            "ed11d919.9bb828"
        ],
        "x": 695,
        "y": 240,
        "wires": []
    },
    {
        "id": "86db0a6e.20ddc8",
        "type": "link out",
        "z": "482fca47.901ea4",
        "name": "maxAcValue1",
        "links": [
            "ed11d919.9bb828"
        ],
        "x": 695,
        "y": 340,
        "wires": []
    },
    {
        "id": "c99ad199.be896",
        "type": "link out",
        "z": "482fca47.901ea4",
        "name": "gain1",
        "links": [
            "ed11d919.9bb828"
        ],
        "x": 695,
        "y": 440,
        "wires": []
    },
    {
        "id": "8079cd96.fdd5e",
        "type": "link out",
        "z": "482fca47.901ea4",
        "name": "dacOffset1",
        "links": [
            "ed11d919.9bb828"
        ],
        "x": 695,
        "y": 580,
        "wires": []
    },
    {
        "id": "ed11d919.9bb828",
        "type": "link in",
        "z": "482fca47.901ea4",
        "name": "Parse Link",
        "links": [
            "86db0a6e.20ddc8",
            "8079cd96.fdd5e",
            "c99ad199.be896",
            "388276e.7d6030a",
            "7eb82629.8e7bc8",
            "6be14c21.bfe8ec"
        ],
        "x": 995,
        "y": 200,
        "wires": [
            [
                "ee71c5e4.de05d"
            ]
        ]
    },
    {
        "id": "fcf3082a.ee6bb8",
        "type": "serial out",
        "z": "eadb4491.8a3268",
        "name": "Mojo",
        "serial": "5b5ce7e1.c9aae8",
        "x": 1010,
        "y": 240,
        "wires": []
    },
    {
        "id": "2d9a1edd.a76582",
        "type": "function",
        "z": "eadb4491.8a3268",
        "name": "Send start/stop",
        "func": "var mojoMsg = {topic:msg.topic, payload:0};\nif (mojoMsg.topic == 'pmOffset')\n{\n   mojoMsg.payload = Buffer.from([252,msg.payload]); \n}\nif (mojoMsg.topic == 'pmAmp')\n{\n    mojoMsg.payload = Buffer.from([253,msg.payload]); \n}\nif (mojoMsg.topic == 'amOffset')\n{\n   mojoMsg.payload = Buffer.from([254,msg.payload]); \n}\nif (mojoMsg.topic == 'amAmp')\n{\n    mojoMsg.payload = Buffer.from([255,msg.payload]); \n}\nvar mqttMsg =    \n{\n    topic:'archiver/R3/rfroom/02/mode1/FF/' + msg.topic + '/reading',\n    payload:\n    {   \n        type:'scalar',\n        value:msg.payload\n    }\n};\n\nreturn [mojoMsg, mqttMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 820,
        "y": 260,
        "wires": [
            [
                "fcf3082a.ee6bb8"
            ],
            [
                "92bce035.38161"
            ]
        ]
    },
    {
        "id": "201f08a9.2244b8",
        "type": "ui_numeric",
        "z": "eadb4491.8a3268",
        "name": "",
        "label": "PM Offset (0-88)",
        "tooltip": "",
        "group": "6bfc9866.a86188",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "pmOffset",
        "format": "{{value}}",
        "min": 0,
        "max": "88",
        "step": 1,
        "x": 560,
        "y": 160,
        "wires": [
            [
                "2d9a1edd.a76582"
            ]
        ]
    },
    {
        "id": "b60bc080.cb057",
        "type": "serial in",
        "z": "eadb4491.8a3268",
        "name": "Mojo",
        "serial": "5b5ce7e1.c9aae8",
        "x": 190,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "94c4ac0d.ca183",
        "type": "ui_numeric",
        "z": "eadb4491.8a3268",
        "name": "",
        "label": "PM Amplitude (0-10)",
        "group": "6bfc9866.a86188",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "pmAmp",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "step": 1,
        "x": 580,
        "y": 200,
        "wires": [
            [
                "2d9a1edd.a76582"
            ]
        ]
    },
    {
        "id": "34460dab.1f48e2",
        "type": "ui_numeric",
        "z": "eadb4491.8a3268",
        "name": "",
        "label": "AM Offset (0-88)",
        "group": "6bfc9866.a86188",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "amOffset",
        "format": "{{value}}",
        "min": 0,
        "max": "88",
        "step": 1,
        "x": 560,
        "y": 340,
        "wires": [
            [
                "2d9a1edd.a76582"
            ]
        ]
    },
    {
        "id": "9f3b5603.43e588",
        "type": "ui_numeric",
        "z": "eadb4491.8a3268",
        "name": "",
        "label": "AM Amplitude (0-10)",
        "group": "6bfc9866.a86188",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "amAmp",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "step": 1,
        "x": 580,
        "y": 380,
        "wires": [
            [
                "2d9a1edd.a76582"
            ]
        ]
    },
    {
        "id": "451ebeda.96d388",
        "type": "mqtt out",
        "z": "482fca47.901ea4",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "6e3cd31b.855d7c",
        "x": 1230,
        "y": 540,
        "wires": []
    },
    {
        "id": "e6834cd6.5fe75",
        "type": "inject",
        "z": "2450c4c2.c3b524",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "576a04a5.2a692c"
            ]
        ]
    },
    {
        "id": "576a04a5.2a692c",
        "type": "file in",
        "z": "2450c4c2.c3b524",
        "name": "",
        "filename": "dipoleSettings.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "2c538921.0a5166"
            ]
        ]
    },
    {
        "id": "2c538921.0a5166",
        "type": "json",
        "z": "2450c4c2.c3b524",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "162d8c58.3dfec4"
            ]
        ]
    },
    {
        "id": "162d8c58.3dfec4",
        "type": "function",
        "z": "2450c4c2.c3b524",
        "name": "Parse File",
        "func": "var settings = \n[\n    {topic:'chanOn0',       payload:msg.payload.chanOn0},\n    {topic:'timeOffset0',   payload:msg.payload.timeOffset0},\n    {topic:'sign0',         payload:msg.payload.sign0},\n    {topic:'maxAcValue0',   payload:msg.payload.maxAcValue0},\n    {topic:'gain0',         payload:msg.payload.gain0},\n    {topic:'dacOffset0',    payload:msg.payload.dacOffset0}\n];\nflow.set('dipoleSettings',msg.payload);\nreturn settings;",
        "outputs": 6,
        "noerr": 0,
        "x": 320,
        "y": 340,
        "wires": [
            [
                "de36e6c3.88cc38",
                "7df7628.581ce1c"
            ],
            [
                "5382d7f5.424bc8",
                "d21d9302.9577f"
            ],
            [
                "d83409b5.06da28",
                "709e0695.f98dd8"
            ],
            [
                "77231b6b.1b46ec",
                "ffa67500.68ee6"
            ],
            [
                "b312d1ea.0c3bc",
                "ccf44fc0.7a0ea"
            ],
            [
                "f7d16f9.6d6369",
                "6e45b38b.973114"
            ]
        ]
    },
    {
        "id": "24a7f303.d6668c",
        "type": "serial out",
        "z": "2450c4c2.c3b524",
        "name": "Teensy3.5",
        "serial": "e1719692.a724c8",
        "x": 1250,
        "y": 300,
        "wires": []
    },
    {
        "id": "d21d9302.9577f",
        "type": "ui_numeric",
        "z": "2450c4c2.c3b524",
        "name": "timeOffset0",
        "label": "Time Offset",
        "group": "a0b953d3.6ba41",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "timeOffset0",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "step": 1,
        "x": 730,
        "y": 180,
        "wires": [
            [
                "33e1c49d.b82114"
            ]
        ]
    },
    {
        "id": "33e1c49d.b82114",
        "type": "function",
        "z": "2450c4c2.c3b524",
        "name": "Parse setting",
        "func": "var mqttMsg =    \n{\n    topic:'archiver/R3/rfroom/02/mode0/dipole/' + msg.topic + '/reading',\n    payload:\n    {   \n        type:'scalar',\n        value:msg.payload\n    }\n};\nmsg.payload = msg.topic + ' ' + msg.payload.toString();\nreturn [msg, mqttMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 930,
        "y": 280,
        "wires": [
            [
                "24a7f303.d6668c",
                "53b741ce.e9b13"
            ],
            [
                "14edbf1.599a941"
            ]
        ]
    },
    {
        "id": "7df7628.581ce1c",
        "type": "ui_numeric",
        "z": "2450c4c2.c3b524",
        "name": "",
        "label": "On",
        "group": "a0b953d3.6ba41",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "chanOn0",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "step": 1,
        "x": 710,
        "y": 80,
        "wires": [
            [
                "33e1c49d.b82114"
            ]
        ]
    },
    {
        "id": "709e0695.f98dd8",
        "type": "ui_numeric",
        "z": "2450c4c2.c3b524",
        "name": "",
        "label": "Sign",
        "group": "a0b953d3.6ba41",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "sign0",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "step": "1",
        "x": 710,
        "y": 280,
        "wires": [
            [
                "33e1c49d.b82114"
            ]
        ]
    },
    {
        "id": "ffa67500.68ee6",
        "type": "ui_text_input",
        "z": "2450c4c2.c3b524",
        "name": "",
        "label": "Max Value",
        "group": "a0b953d3.6ba41",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "1000",
        "topic": "maxAcValue0",
        "x": 730,
        "y": 380,
        "wires": [
            [
                "33e1c49d.b82114"
            ]
        ]
    },
    {
        "id": "6e45b38b.973114",
        "type": "ui_text_input",
        "z": "2450c4c2.c3b524",
        "name": "",
        "label": "Offset",
        "group": "a0b953d3.6ba41",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": false,
        "mode": "text",
        "delay": "300",
        "topic": "dacOffset0",
        "x": 710,
        "y": 620,
        "wires": [
            [
                "3bf72b11.0d013c"
            ]
        ]
    },
    {
        "id": "ec30a893.590cf",
        "type": "ui_button",
        "z": "2450c4c2.c3b524",
        "name": "Send dacOffset0",
        "group": "a0b953d3.6ba41",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Send",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 750,
        "y": 660,
        "wires": [
            [
                "ce18ccf4.2f1588"
            ]
        ]
    },
    {
        "id": "3bf72b11.0d013c",
        "type": "function",
        "z": "2450c4c2.c3b524",
        "name": "Store dacOffset0",
        "func": "flow.set('dacOffset0',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ccf44fc0.7a0ea",
        "type": "ui_numeric",
        "z": "2450c4c2.c3b524",
        "name": "",
        "label": "Gain",
        "group": "a0b953d3.6ba41",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "gain0",
        "format": "{{value}}",
        "min": "-10",
        "max": "10",
        "step": "1",
        "x": 710,
        "y": 480,
        "wires": [
            [
                "33e1c49d.b82114"
            ]
        ]
    },
    {
        "id": "ce18ccf4.2f1588",
        "type": "function",
        "z": "2450c4c2.c3b524",
        "name": "Send dacOffset0",
        "func": "var mqttMsg =    \n{\n    topic:'archiver/R3/rfroom/02/mode0/dipole/dacOffset0/reading',\n    payload:\n    {   \n        type:'scalar',\n        value:flow.get('dacOffset0')\n    }\n};\nmsg.topic = 'dacOffset0';\nmsg.payload = 'dacOffset0' + ' ' + flow.get('dacOffset0');\nreturn [msg, mqttMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 950,
        "y": 660,
        "wires": [
            [
                "24a7f303.d6668c",
                "53b741ce.e9b13"
            ],
            [
                "14edbf1.599a941"
            ]
        ]
    },
    {
        "id": "de36e6c3.88cc38",
        "type": "link out",
        "z": "2450c4c2.c3b524",
        "name": "chanOn0",
        "links": [
            "4a2fb42a.ef6bec"
        ],
        "x": 675,
        "y": 40,
        "wires": []
    },
    {
        "id": "5382d7f5.424bc8",
        "type": "link out",
        "z": "2450c4c2.c3b524",
        "name": "timeOffset0",
        "links": [
            "4a2fb42a.ef6bec"
        ],
        "x": 675,
        "y": 140,
        "wires": []
    },
    {
        "id": "d83409b5.06da28",
        "type": "link out",
        "z": "2450c4c2.c3b524",
        "name": "sign0",
        "links": [
            "4a2fb42a.ef6bec"
        ],
        "x": 675,
        "y": 240,
        "wires": []
    },
    {
        "id": "77231b6b.1b46ec",
        "type": "link out",
        "z": "2450c4c2.c3b524",
        "name": "maxAcValue0",
        "links": [
            "4a2fb42a.ef6bec"
        ],
        "x": 675,
        "y": 340,
        "wires": []
    },
    {
        "id": "b312d1ea.0c3bc",
        "type": "link out",
        "z": "2450c4c2.c3b524",
        "name": "gain0",
        "links": [
            "4a2fb42a.ef6bec"
        ],
        "x": 675,
        "y": 440,
        "wires": []
    },
    {
        "id": "f7d16f9.6d6369",
        "type": "link out",
        "z": "2450c4c2.c3b524",
        "name": "dacOffset0",
        "links": [
            "4a2fb42a.ef6bec"
        ],
        "x": 675,
        "y": 580,
        "wires": []
    },
    {
        "id": "4a2fb42a.ef6bec",
        "type": "link in",
        "z": "2450c4c2.c3b524",
        "name": "Parse Link",
        "links": [
            "f7d16f9.6d6369",
            "77231b6b.1b46ec",
            "b312d1ea.0c3bc",
            "de36e6c3.88cc38",
            "d83409b5.06da28",
            "5382d7f5.424bc8"
        ],
        "x": 875,
        "y": 200,
        "wires": [
            [
                "33e1c49d.b82114"
            ]
        ]
    },
    {
        "id": "14edbf1.599a941",
        "type": "mqtt out",
        "z": "2450c4c2.c3b524",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "6e3cd31b.855d7c",
        "x": 1230,
        "y": 500,
        "wires": []
    },
    {
        "id": "53b741ce.e9b13",
        "type": "function",
        "z": "2450c4c2.c3b524",
        "name": "Prepare for File",
        "func": "var setting = Number(msg.payload.split(msg.topic)[1]);\nvar settings = flow.get('dipoleSettings');\nsettings[msg.topic] = setting;\nflow.set('dipoleSettings', settings)\nreturn {topic:'dipoleSettings', payload:settings};",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 440,
        "wires": [
            [
                "9b56fb0f.74ccc8"
            ]
        ]
    },
    {
        "id": "9b56fb0f.74ccc8",
        "type": "file",
        "z": "2450c4c2.c3b524",
        "name": "",
        "filename": "dipoleSettings.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 1270,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a1d31457.823ff8",
        "type": "inject",
        "z": "482fca47.901ea4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "c3f25d30.f1726"
            ]
        ]
    },
    {
        "id": "c3f25d30.f1726",
        "type": "file in",
        "z": "482fca47.901ea4",
        "name": "",
        "filename": "quadSettings.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "9db159ff.829218"
            ]
        ]
    },
    {
        "id": "9db159ff.829218",
        "type": "json",
        "z": "482fca47.901ea4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "e54b6176.2b4a1"
            ]
        ]
    },
    {
        "id": "e54b6176.2b4a1",
        "type": "function",
        "z": "482fca47.901ea4",
        "name": "Parse File",
        "func": "var settings = \n[\n    {topic:'chanOn1',       payload:msg.payload.chanOn1},\n    {topic:'timeOffset1',   payload:msg.payload.timeOffset1},\n    {topic:'sign1',         payload:msg.payload.sign1},\n    {topic:'maxAcValue1',   payload:msg.payload.maxAcValue1},\n    {topic:'gain1',         payload:msg.payload.gain1},\n    {topic:'dacOffset1',    payload:msg.payload.dacOffset1}\n];\nflow.set('quadSettings',msg.payload);\nreturn settings;",
        "outputs": 6,
        "noerr": 0,
        "x": 320,
        "y": 320,
        "wires": [
            [
                "7eb82629.8e7bc8",
                "c91abdf1.808358"
            ],
            [
                "6be14c21.bfe8ec",
                "796c196c.86cf5"
            ],
            [
                "388276e.7d6030a",
                "ee36e2c5.db5f6"
            ],
            [
                "86db0a6e.20ddc8",
                "106fc55e.c18ebb"
            ],
            [
                "c99ad199.be896",
                "704f4e7d.606d9"
            ],
            [
                "8079cd96.fdd5e",
                "59ce3fc1.0de1e8"
            ]
        ]
    },
    {
        "id": "ba1e0b00.325e28",
        "type": "function",
        "z": "482fca47.901ea4",
        "name": "Prepare for File",
        "func": "var setting = Number(msg.payload.split(msg.topic)[1]);\nvar settings = flow.get('quadSettings');\nsettings[msg.topic] = setting;\nflow.set('quadSettings', settings)\nreturn {topic:'quadSettings', payload:settings};",
        "outputs": 1,
        "noerr": 0,
        "x": 1000,
        "y": 440,
        "wires": [
            [
                "7d103bad.00eee4"
            ]
        ]
    },
    {
        "id": "7d103bad.00eee4",
        "type": "file",
        "z": "482fca47.901ea4",
        "name": "",
        "filename": "quadSettings.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 1290,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "2338a10e.9af5be",
        "type": "mqtt in",
        "z": "482fca47.901ea4",
        "name": "",
        "topic": "archiver/R3/rfroom/02/mode0/quadrupole/+/setting",
        "qos": "0",
        "broker": "6e3cd31b.855d7c",
        "x": 210,
        "y": 540,
        "wires": [
            [
                "f1fe0df3.afcee"
            ]
        ]
    },
    {
        "id": "7e1d3f94.a013b",
        "type": "function",
        "z": "482fca47.901ea4",
        "name": "Shave Topic",
        "func": "var newMsg = {topic:msg.topic.split('/')[6], payload: msg.payload.value}; \nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "d44cf80a.be3758"
            ]
        ]
    },
    {
        "id": "d44cf80a.be3758",
        "type": "switch",
        "z": "482fca47.901ea4",
        "name": "Split topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "chanOn1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "timeOffset1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sign1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "maxAcValue1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "gain1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "dacOffset1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 320,
        "y": 420,
        "wires": [
            [
                "7eb82629.8e7bc8",
                "c91abdf1.808358"
            ],
            [
                "6be14c21.bfe8ec",
                "796c196c.86cf5"
            ],
            [
                "388276e.7d6030a",
                "ee36e2c5.db5f6"
            ],
            [
                "86db0a6e.20ddc8",
                "106fc55e.c18ebb"
            ],
            [
                "c99ad199.be896",
                "704f4e7d.606d9"
            ],
            [
                "8079cd96.fdd5e",
                "59ce3fc1.0de1e8"
            ]
        ]
    },
    {
        "id": "f1fe0df3.afcee",
        "type": "json",
        "z": "482fca47.901ea4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 150,
        "y": 480,
        "wires": [
            [
                "7e1d3f94.a013b"
            ]
        ]
    },
    {
        "id": "918cd361.31499",
        "type": "mqtt in",
        "z": "2450c4c2.c3b524",
        "name": "",
        "topic": "archiver/R3/rfroom/02/mode0/dipole/+/setting",
        "qos": "0",
        "broker": "6e3cd31b.855d7c",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "31cae45f.ff77fc"
            ]
        ]
    },
    {
        "id": "c337732e.6cc3b",
        "type": "function",
        "z": "2450c4c2.c3b524",
        "name": "Shave Topic",
        "func": "var newMsg = {topic:msg.topic.split('/')[6], payload: msg.payload.value}; \nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 440,
        "wires": [
            [
                "dd65391f.dffb38"
            ]
        ]
    },
    {
        "id": "dd65391f.dffb38",
        "type": "switch",
        "z": "2450c4c2.c3b524",
        "name": "Split topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "chanOn0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "timeOffset0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sign0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "maxAcValue0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "gain0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "dacOffset0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 320,
        "y": 440,
        "wires": [
            [
                "de36e6c3.88cc38",
                "7df7628.581ce1c"
            ],
            [
                "d21d9302.9577f",
                "5382d7f5.424bc8"
            ],
            [
                "d83409b5.06da28",
                "709e0695.f98dd8"
            ],
            [
                "77231b6b.1b46ec",
                "ffa67500.68ee6"
            ],
            [
                "b312d1ea.0c3bc",
                "ccf44fc0.7a0ea"
            ],
            [
                "f7d16f9.6d6369",
                "6e45b38b.973114"
            ]
        ]
    },
    {
        "id": "31cae45f.ff77fc",
        "type": "json",
        "z": "2450c4c2.c3b524",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "c337732e.6cc3b"
            ]
        ]
    },
    {
        "id": "92bce035.38161",
        "type": "mqtt out",
        "z": "eadb4491.8a3268",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "6e3cd31b.855d7c",
        "x": 1010,
        "y": 280,
        "wires": []
    },
    {
        "id": "f0922a51.486268",
        "type": "mqtt in",
        "z": "eadb4491.8a3268",
        "name": "",
        "topic": "archiver/R3/rfroom/02/mode1/FF/+/setting",
        "qos": "0",
        "broker": "6e3cd31b.855d7c",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "9578e4a6.ff22d8"
            ]
        ]
    },
    {
        "id": "8bcc6421.d55c08",
        "type": "function",
        "z": "eadb4491.8a3268",
        "name": "Shave Topic",
        "func": "var newMsg = {topic:msg.topic.split('/')[6], payload: msg.payload.value}; \nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 260,
        "wires": [
            [
                "4dfeae6d.f3bc7"
            ]
        ]
    },
    {
        "id": "4dfeae6d.f3bc7",
        "type": "switch",
        "z": "eadb4491.8a3268",
        "name": "Split topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pmOffset",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pmAmp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "amOffset",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "amAmp",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "201f08a9.2244b8",
                "2d9a1edd.a76582"
            ],
            [
                "94c4ac0d.ca183",
                "2d9a1edd.a76582"
            ],
            [
                "34460dab.1f48e2",
                "2d9a1edd.a76582"
            ],
            [
                "9f3b5603.43e588",
                "2d9a1edd.a76582"
            ]
        ]
    },
    {
        "id": "9578e4a6.ff22d8",
        "type": "json",
        "z": "eadb4491.8a3268",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "8bcc6421.d55c08"
            ]
        ]
    },
    {
        "id": "d366024d.e369c",
        "type": "mqtt out",
        "z": "eadb4491.8a3268",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "6e3cd31b.855d7c",
        "x": 910,
        "y": 60,
        "wires": []
    },
    {
        "id": "3b108e36.282ab2",
        "type": "function",
        "z": "eadb4491.8a3268",
        "name": "Parse setting",
        "func": "var mqttMsg =    \n{\n    topic:'archiver/R3/rfroom/02/mode1/FF/pmOffset/setting',\n    payload:\n    {   \n        type:'scalar',\n        value:10\n    }\n};\nreturn mqttMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 730,
        "y": 60,
        "wires": [
            [
                "d366024d.e369c"
            ]
        ]
    },
    {
        "id": "a388c098.58e8f",
        "type": "inject",
        "z": "eadb4491.8a3268",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 560,
        "y": 60,
        "wires": [
            [
                "3b108e36.282ab2"
            ]
        ]
    }
]