mode-0-damper/flows.json
[
    {
        "id": "2450c4c2.c3b524",
        "type": "tab",
        "label": "Dipole",
        "disabled": false,
        "info": ""
    },
    {
        "id": "482fca47.901ea4",
        "type": "tab",
        "label": "Quadrupole",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eadb4491.8a3268",
        "type": "tab",
        "label": "Mode1 FF",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Mode 0 Damper",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 3,
                "gy": 3,
                "cx": 3,
                "cy": 3,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e1719692.a724c8",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": true
    },
    {
        "id": "a0b953d3.6ba41",
        "type": "ui_group",
        "z": "",
        "name": "Dipole",
        "tab": "35fc9c4e.c46d34",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "35fc9c4e.c46d34",
        "type": "ui_tab",
        "z": "",
        "name": "Mode 0 Damper",
        "icon": "dashboard"
    },
    {
        "id": "7a4df6d1.1d139",
        "type": "ui_group",
        "z": "",
        "name": "Quadrupole",
        "tab": "35fc9c4e.c46d34",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5b5ce7e1.c9aae8",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "1",
        "bin": "bin",
        "out": "count",
        "addchar": false
    },
    {
        "id": "6bfc9866.a86188",
        "type": "ui_group",
        "z": "",
        "name": "Mode 1 FF",
        "tab": "6e431eeb.cc0c4",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6e431eeb.cc0c4",
        "type": "ui_tab",
        "z": "",
        "name": "Mode 1 FF",
        "icon": "dashboard"
    },
    {
        "id": "6e3cd31b.855d7c",
        "type": "mqtt-broker",
        "z": "",
        "name": "RFLab01",
        "broker": "RFLab01.local",
        "port": "1883",
        "clientid": "Mode0Damper",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "24a7f303.d6668c",
        "type": "serial out",
        "z": "2450c4c2.c3b524",
        "name": "Teensy3.5",
        "serial": "e1719692.a724c8",
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "d21d9302.9577f",
        "type": "ui_numeric",
        "z": "2450c4c2.c3b524",
        "name": "timeOffset0",
        "label": "Time Offset",
        "group": "a0b953d3.6ba41",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "timeOffset0",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "step": 1,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "33e1c49d.b82114"
            ]
        ]
    },
    {
        "id": "20567709.a1c3c8",
        "type": "inject",
        "z": "2450c4c2.c3b524",
        "name": "",
        "topic": "timeOffset0",
        "payload": "19",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "d21d9302.9577f",
                "5382d7f5.424bc8"
            ]
        ]
    },
    {
        "id": "c9ba1837.58d9b",
        "type": "debug",
        "z": "2450c4c2.c3b524",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 950,
        "y": 580,
        "wires": []
    },
    {
        "id": "33e1c49d.b82114",
        "type": "function",
        "z": "2450c4c2.c3b524",
        "name": "Parse setting",
        "func": "var mqttMsg =    \n{\n    topic:'archiver/R3/rfroom/02/mode0/dipole/' + msg.topic + '/reading',\n    payload:\n    {   \n        type:'scalar',\n        value:msg.payload\n    }\n};\nmsg.payload = msg.topic + ' ' + msg.payload.toString();\nreturn [msg, mqttMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "24a7f303.d6668c"
            ],
            [
                "14edbf1.599a941",
                "c9ba1837.58d9b"
            ]
        ]
    },
    {
        "id": "7df7628.581ce1c",
        "type": "ui_numeric",
        "z": "2450c4c2.c3b524",
        "name": "",
        "label": "On",
        "group": "a0b953d3.6ba41",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "chanOn0",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "step": 1,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "33e1c49d.b82114"
            ]
        ]
    },
    {
        "id": "87352e4c.50da5",
        "type": "inject",
        "z": "2450c4c2.c3b524",
        "name": "",
        "topic": "chanOn0",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "7df7628.581ce1c",
                "de36e6c3.88cc38"
            ]
        ]
    },
    {
        "id": "709e0695.f98dd8",
        "type": "ui_numeric",
        "z": "2450c4c2.c3b524",
        "name": "",
        "label": "Sign",
        "group": "a0b953d3.6ba41",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "sign0",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "step": "1",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "33e1c49d.b82114"
            ]
        ]
    },
    {
        "id": "237cdd01.ab88e2",
        "type": "inject",
        "z": "2450c4c2.c3b524",
        "name": "",
        "topic": "sign0",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "709e0695.f98dd8",
                "d83409b5.06da28"
            ]
        ]
    },
    {
        "id": "9f2084c7.335018",
        "type": "inject",
        "z": "2450c4c2.c3b524",
        "name": "",
        "topic": "dacOffset0",
        "payload": "560",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.6",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "6e45b38b.973114",
                "3bf72b11.0d013c",
                "f7d16f9.6d6369"
            ]
        ]
    },
    {
        "id": "f9c5f523.5a155",
        "type": "inject",
        "z": "2450c4c2.c3b524",
        "name": "",
        "topic": "maxAcValue0",
        "payload": "50",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.4",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "ffa67500.68ee6",
                "77231b6b.1b46ec"
            ]
        ]
    },
    {
        "id": "ffa67500.68ee6",
        "type": "ui_text_input",
        "z": "2450c4c2.c3b524",
        "name": "",
        "label": "Max Value",
        "group": "a0b953d3.6ba41",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "1000",
        "topic": "maxAcValue0",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "33e1c49d.b82114"
            ]
        ]
    },
    {
        "id": "6e45b38b.973114",
        "type": "ui_text_input",
        "z": "2450c4c2.c3b524",
        "name": "",
        "label": "Offset",
        "group": "a0b953d3.6ba41",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": false,
        "mode": "text",
        "delay": "300",
        "topic": "dacOffset0",
        "x": 290,
        "y": 620,
        "wires": [
            [
                "3bf72b11.0d013c"
            ]
        ]
    },
    {
        "id": "ec30a893.590cf",
        "type": "ui_button",
        "z": "2450c4c2.c3b524",
        "name": "Send dacOffset0",
        "group": "a0b953d3.6ba41",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Send",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 330,
        "y": 660,
        "wires": [
            [
                "ce18ccf4.2f1588"
            ]
        ]
    },
    {
        "id": "3bf72b11.0d013c",
        "type": "function",
        "z": "2450c4c2.c3b524",
        "name": "Store dacOffset0",
        "func": "flow.set('dacOffset0',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "94925a16.69955",
        "type": "inject",
        "z": "2450c4c2.c3b524",
        "name": "",
        "topic": "gain0",
        "payload": "3",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "ccf44fc0.7a0ea",
                "b312d1ea.0c3bc"
            ]
        ]
    },
    {
        "id": "ccf44fc0.7a0ea",
        "type": "ui_numeric",
        "z": "2450c4c2.c3b524",
        "name": "",
        "label": "Gain",
        "group": "a0b953d3.6ba41",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "gain0",
        "format": "{{value}}",
        "min": "-10",
        "max": "10",
        "step": "1",
        "x": 290,
        "y": 480,
        "wires": [
            [
                "33e1c49d.b82114"
            ]
        ]
    },
    {
        "id": "ce18ccf4.2f1588",
        "type": "function",
        "z": "2450c4c2.c3b524",
        "name": "Send dacOffset0",
        "func": "var mqttMsg =    \n{\n    topic:'archiver/R3/rfroom/02/mode0/dipole/dacOffset0/reading',\n    payload:\n    {   \n        type:'scalar',\n        value:flow.get('dacOffset0')\n    }\n};\nmsg.payload = 'dacOffset0' + ' ' + flow.get('dacOffset0');\nreturn [msg, mqttMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 530,
        "y": 660,
        "wires": [
            [
                "24a7f303.d6668c"
            ],
            [
                "14edbf1.599a941",
                "c9ba1837.58d9b"
            ]
        ]
    },
    {
        "id": "de36e6c3.88cc38",
        "type": "link out",
        "z": "2450c4c2.c3b524",
        "name": "chanOn0",
        "links": [
            "4a2fb42a.ef6bec"
        ],
        "x": 255,
        "y": 40,
        "wires": []
    },
    {
        "id": "5382d7f5.424bc8",
        "type": "link out",
        "z": "2450c4c2.c3b524",
        "name": "timeOffset0",
        "links": [
            "4a2fb42a.ef6bec"
        ],
        "x": 255,
        "y": 140,
        "wires": []
    },
    {
        "id": "d83409b5.06da28",
        "type": "link out",
        "z": "2450c4c2.c3b524",
        "name": "sign0",
        "links": [
            "4a2fb42a.ef6bec"
        ],
        "x": 255,
        "y": 240,
        "wires": []
    },
    {
        "id": "77231b6b.1b46ec",
        "type": "link out",
        "z": "2450c4c2.c3b524",
        "name": "maxAcValue0",
        "links": [
            "4a2fb42a.ef6bec"
        ],
        "x": 255,
        "y": 340,
        "wires": []
    },
    {
        "id": "b312d1ea.0c3bc",
        "type": "link out",
        "z": "2450c4c2.c3b524",
        "name": "gain0",
        "links": [
            "4a2fb42a.ef6bec"
        ],
        "x": 255,
        "y": 440,
        "wires": []
    },
    {
        "id": "f7d16f9.6d6369",
        "type": "link out",
        "z": "2450c4c2.c3b524",
        "name": "dacOffset0",
        "links": [
            "4a2fb42a.ef6bec"
        ],
        "x": 255,
        "y": 580,
        "wires": []
    },
    {
        "id": "4a2fb42a.ef6bec",
        "type": "link in",
        "z": "2450c4c2.c3b524",
        "name": "Parse Link",
        "links": [
            "f7d16f9.6d6369",
            "77231b6b.1b46ec",
            "b312d1ea.0c3bc",
            "de36e6c3.88cc38",
            "d83409b5.06da28",
            "5382d7f5.424bc8"
        ],
        "x": 555,
        "y": 200,
        "wires": [
            [
                "33e1c49d.b82114"
            ]
        ]
    },
    {
        "id": "ae1d3cd5.03d77",
        "type": "serial out",
        "z": "482fca47.901ea4",
        "name": "Teensy3.5",
        "serial": "e1719692.a724c8",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "796c196c.86cf5",
        "type": "ui_numeric",
        "z": "482fca47.901ea4",
        "name": "",
        "label": "Time Offset",
        "group": "7a4df6d1.1d139",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "timeOffset1",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "step": 1,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "ee71c5e4.de05d"
            ]
        ]
    },
    {
        "id": "70c9f287.316b94",
        "type": "inject",
        "z": "482fca47.901ea4",
        "name": "",
        "topic": "timeOffset1",
        "payload": "10",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.8",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "796c196c.86cf5",
                "6be14c21.bfe8ec"
            ]
        ]
    },
    {
        "id": "2157b1f9.55b69e",
        "type": "debug",
        "z": "482fca47.901ea4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 950,
        "y": 440,
        "wires": []
    },
    {
        "id": "ee71c5e4.de05d",
        "type": "function",
        "z": "482fca47.901ea4",
        "name": "Parse setting",
        "func": "var mqttMsg =    \n{\n    topic:'archiver/R3/rfroom/02/mode0/quadrupole/' + msg.topic + '/reading',\n    payload:\n    {   \n        type:'scalar',\n        value:msg.payload\n    }\n};\nmsg.payload = msg.topic + ' ' + msg.payload.toString();\nreturn [msg, mqttMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "ae1d3cd5.03d77"
            ],
            [
                "2157b1f9.55b69e",
                "451ebeda.96d388"
            ]
        ]
    },
    {
        "id": "c91abdf1.808358",
        "type": "ui_numeric",
        "z": "482fca47.901ea4",
        "name": "",
        "label": "On",
        "group": "7a4df6d1.1d139",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "chanOn1",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "step": 1,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "ee71c5e4.de05d"
            ]
        ]
    },
    {
        "id": "cd9da8c6.a23dc",
        "type": "inject",
        "z": "482fca47.901ea4",
        "name": "",
        "topic": "chanOn1",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.7",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "c91abdf1.808358",
                "7eb82629.8e7bc8"
            ]
        ]
    },
    {
        "id": "ee36e2c5.db5f6",
        "type": "ui_numeric",
        "z": "482fca47.901ea4",
        "name": "",
        "label": "Sign",
        "group": "7a4df6d1.1d139",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "sign1",
        "format": "{{value}}",
        "min": "-1",
        "max": "1",
        "step": "1",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "ee71c5e4.de05d"
            ]
        ]
    },
    {
        "id": "b59782b9.1862f",
        "type": "inject",
        "z": "482fca47.901ea4",
        "name": "",
        "topic": "sign1",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.9",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "ee36e2c5.db5f6",
                "388276e.7d6030a"
            ]
        ]
    },
    {
        "id": "6d76bf51.98bb58",
        "type": "inject",
        "z": "482fca47.901ea4",
        "name": "",
        "topic": "dacOffset1",
        "payload": "470",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.2",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "59ce3fc1.0de1e8",
                "1ff0fe18.bae582",
                "8079cd96.fdd5e"
            ]
        ]
    },
    {
        "id": "19593734.416af1",
        "type": "inject",
        "z": "482fca47.901ea4",
        "name": "",
        "topic": "maxAcValue1",
        "payload": "100",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.0",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "106fc55e.c18ebb",
                "86db0a6e.20ddc8"
            ]
        ]
    },
    {
        "id": "106fc55e.c18ebb",
        "type": "ui_text_input",
        "z": "482fca47.901ea4",
        "name": "",
        "label": "Max Value",
        "group": "7a4df6d1.1d139",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "1000",
        "topic": "maxAcValue1",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "ee71c5e4.de05d"
            ]
        ]
    },
    {
        "id": "59ce3fc1.0de1e8",
        "type": "ui_text_input",
        "z": "482fca47.901ea4",
        "name": "",
        "label": "Offset",
        "group": "7a4df6d1.1d139",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "mode": "text",
        "delay": "300",
        "topic": "dacOffset1",
        "x": 290,
        "y": 620,
        "wires": [
            [
                "1ff0fe18.bae582"
            ]
        ]
    },
    {
        "id": "182d39bf.6798c6",
        "type": "ui_button",
        "z": "482fca47.901ea4",
        "name": "Send dacOffset1",
        "group": "7a4df6d1.1d139",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Send",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 330,
        "y": 660,
        "wires": [
            [
                "2fed5dc6.e9e5fa"
            ]
        ]
    },
    {
        "id": "1ff0fe18.bae582",
        "type": "function",
        "z": "482fca47.901ea4",
        "name": "Store dacOffset1",
        "func": "flow.set('dacOffset1',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "66b79c3b.5a373c",
        "type": "inject",
        "z": "482fca47.901ea4",
        "name": "",
        "topic": "gain1",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.1",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "704f4e7d.606d9",
                "c99ad199.be896"
            ]
        ]
    },
    {
        "id": "704f4e7d.606d9",
        "type": "ui_numeric",
        "z": "482fca47.901ea4",
        "name": "",
        "label": "Gain",
        "group": "7a4df6d1.1d139",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "gain1",
        "format": "{{value}}",
        "min": "-10",
        "max": "10",
        "step": "1",
        "x": 290,
        "y": 480,
        "wires": [
            [
                "ee71c5e4.de05d"
            ]
        ]
    },
    {
        "id": "2fed5dc6.e9e5fa",
        "type": "function",
        "z": "482fca47.901ea4",
        "name": "Send dacOffset1",
        "func": "var mqttMsg =    \n{\n    topic:'archiver/R3/rfroom/02/mode0/quadrupole/dacOffset1/reading',\n    payload:\n    {   \n        type:'scalar',\n        value:flow.get('dacOffset1')\n    }\n};\nmsg.payload = 'dacOffset1' + ' ' + flow.get('dacOffset1');\nreturn [msg, mqttMsg];",
        "outputs": 2,
        "noerr": 0,
        "x": 530,
        "y": 660,
        "wires": [
            [
                "ae1d3cd5.03d77"
            ],
            [
                "2157b1f9.55b69e",
                "451ebeda.96d388"
            ]
        ]
    },
    {
        "id": "7eb82629.8e7bc8",
        "type": "link out",
        "z": "482fca47.901ea4",
        "name": "chanOn1",
        "links": [
            "ed11d919.9bb828"
        ],
        "x": 255,
        "y": 40,
        "wires": []
    },
    {
        "id": "6be14c21.bfe8ec",
        "type": "link out",
        "z": "482fca47.901ea4",
        "name": "timeOffset1",
        "links": [
            "ed11d919.9bb828"
        ],
        "x": 255,
        "y": 140,
        "wires": []
    },
    {
        "id": "388276e.7d6030a",
        "type": "link out",
        "z": "482fca47.901ea4",
        "name": "sign1",
        "links": [
            "ed11d919.9bb828"
        ],
        "x": 255,
        "y": 240,
        "wires": []
    },
    {
        "id": "86db0a6e.20ddc8",
        "type": "link out",
        "z": "482fca47.901ea4",
        "name": "maxAcValue1",
        "links": [
            "ed11d919.9bb828"
        ],
        "x": 255,
        "y": 340,
        "wires": []
    },
    {
        "id": "c99ad199.be896",
        "type": "link out",
        "z": "482fca47.901ea4",
        "name": "gain1",
        "links": [
            "ed11d919.9bb828"
        ],
        "x": 255,
        "y": 440,
        "wires": []
    },
    {
        "id": "8079cd96.fdd5e",
        "type": "link out",
        "z": "482fca47.901ea4",
        "name": "dacOffset1",
        "links": [
            "ed11d919.9bb828"
        ],
        "x": 255,
        "y": 580,
        "wires": []
    },
    {
        "id": "ed11d919.9bb828",
        "type": "link in",
        "z": "482fca47.901ea4",
        "name": "Parse Link",
        "links": [
            "86db0a6e.20ddc8",
            "8079cd96.fdd5e",
            "c99ad199.be896",
            "388276e.7d6030a",
            "7eb82629.8e7bc8",
            "6be14c21.bfe8ec"
        ],
        "x": 555,
        "y": 200,
        "wires": [
            [
                "ee71c5e4.de05d"
            ]
        ]
    },
    {
        "id": "fcf3082a.ee6bb8",
        "type": "serial out",
        "z": "eadb4491.8a3268",
        "name": "Mojo",
        "serial": "5b5ce7e1.c9aae8",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "baff63d0.95d",
        "type": "debug",
        "z": "eadb4491.8a3268",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 320,
        "y": 320,
        "wires": []
    },
    {
        "id": "2d9a1edd.a76582",
        "type": "function",
        "z": "eadb4491.8a3268",
        "name": "Send start/stop",
        "func": "if (msg.topic == 'pmOffset')\n{\n   msg.payload = Buffer.from([252,msg.payload]); \n}\nif (msg.topic == 'pmAmp')\n{\n    msg.payload = Buffer.from([253,msg.payload]); \n}\nif (msg.topic == 'amOffset')\n{\n   msg.payload = Buffer.from([254,msg.payload]); \n}\nif (msg.topic == 'amAmp')\n{\n    msg.payload = Buffer.from([255,msg.payload]); \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 60,
        "wires": [
            [
                "fcf3082a.ee6bb8",
                "baff63d0.95d"
            ]
        ]
    },
    {
        "id": "201f08a9.2244b8",
        "type": "ui_numeric",
        "z": "eadb4491.8a3268",
        "name": "",
        "label": "PM Offset (0-88)",
        "group": "6bfc9866.a86188",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "pmOffset",
        "format": "{{value}}",
        "min": 0,
        "max": "88",
        "step": 1,
        "x": 140,
        "y": 60,
        "wires": [
            [
                "2d9a1edd.a76582"
            ]
        ]
    },
    {
        "id": "b60bc080.cb057",
        "type": "serial in",
        "z": "eadb4491.8a3268",
        "name": "Mojo",
        "serial": "5b5ce7e1.c9aae8",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "baff63d0.95d"
            ]
        ]
    },
    {
        "id": "94c4ac0d.ca183",
        "type": "ui_numeric",
        "z": "eadb4491.8a3268",
        "name": "",
        "label": "PM Amplitude (0-10)",
        "group": "6bfc9866.a86188",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "pmAmp",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "step": 1,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "2d9a1edd.a76582"
            ]
        ]
    },
    {
        "id": "34460dab.1f48e2",
        "type": "ui_numeric",
        "z": "eadb4491.8a3268",
        "name": "",
        "label": "AM Offset (0-88)",
        "group": "6bfc9866.a86188",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "amOffset",
        "format": "{{value}}",
        "min": 0,
        "max": "88",
        "step": 1,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "2d9a1edd.a76582"
            ]
        ]
    },
    {
        "id": "9f3b5603.43e588",
        "type": "ui_numeric",
        "z": "eadb4491.8a3268",
        "name": "",
        "label": "AM Amplitude (0-10)",
        "group": "6bfc9866.a86188",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "amAmp",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "step": 1,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "2d9a1edd.a76582"
            ]
        ]
    },
    {
        "id": "14edbf1.599a941",
        "type": "mqtt out",
        "z": "2450c4c2.c3b524",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "6e3cd31b.855d7c",
        "x": 930,
        "y": 500,
        "wires": []
    },
    {
        "id": "451ebeda.96d388",
        "type": "mqtt out",
        "z": "482fca47.901ea4",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "6e3cd31b.855d7c",
        "x": 930,
        "y": 480,
        "wires": []
    }
]